.container {
    min-height: 300px;
    min-width: 500px;
    background: white;
    padding: 30px;
}

thead {
    background-color: grey;
    color: white;
}

#images {
    display: none;
}

#refreshBtn {
    display: none;
}

#summary {
    display: none;
}